.customer__textbox .customer__text .login__message .welcome__page p {
  text-align: center;
}
.customer__textbox
  .customer__text
  .login__message
  .welcome__page
  p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
}

.customer__textbox
  .customer__text
  .login__message
  .welcome__page
  p:nth-child(2) {
  font-size: 13px;
  color: cadetblue;
}

.customer__textbox .customer__text .login__message form input {
  font-size: 15px;
  width: 408px;
  border: none;
  padding: 8px 0;
  outline: none;
  padding-left: 25px;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.customer__textbox .customer__text .login__message form #input__email {
  margin-top: 30px;
}

.customer__textbox .customer__text .login__message form #input__password {
  margin-top: 60px;
}

.customer__textbox .customer__text .login__message form #input__email:hover {
  border-bottom: 2px solid black;
}

.customer__textbox .customer__text .login__message form #input__password:hover {
  border-bottom: 2px solid black;
}

.customer__textbox .customer__text .login__message form a {
  margin-top: 20px;
  display: block;
  font-size: 13px;
}

.customer__textbox .customer__text .login__message form a:hover {
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  width: 145px;
}

.customer__textbox .customer__text .login__message form #submit__button {
  display: block;
  width: 408px;
  margin: 0 auto;
  margin-top: 40px;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  position: relative;
}

.customer__textbox
  .customer__text
  .login__message
  form
  #submit__button:hover::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
